#form {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 16px;

    #form__nickname {
        padding: 16px;
        font-size: 16px;
        border-radius: 16px 16px 0 0;
        border: none;
        color: #ffffff;
        background-color: $sc;

        &::placeholder {
            color: $bc;
        }
    }

    #form__password {
        display: flex;

        #form__password__input {
            padding: 16px;
            font-size: 16px;
            border-radius: 0;
            border: none;
            color: #ffffff;
            background-color: $sc;
            width: 100%;

            &::placeholder {
                color: $bc;
            }
        }

        #form__password__button {
            height: 51px;
            min-width: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: $sc;
            border-radius: 0;
            cursor: pointer;
            color: $mc;
            font-size: 16px;
        }
    }

    #form__submit {
        padding: 16px;
        font-size: 16px;
        border-radius: 0 0 16px 16px;
        border: none;
        background-color: $mc;
        cursor: pointer;
        color: #ffffff;
    }

    #form__invite {
        text-align: center;
        color: #ffffff;
        padding: 16px;

        #form__invite__link {
            color: $mc;
            text-decoration: none;
        }
    }

    #form__error {
        text-align: center;
        color: #ff0000;
    }
}

#logotype {
    display: flex;
    justify-content: center;
    align-items: center;

    #logotype__link {
        display: flex;
        margin: 51px;

        #logotype__image {
            height: 51px;
        }
    }
}