$width: 480px;
$backgroundColor: #17181a;
$firstColor: #0080ff;
$secondColor: #292e33;

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;

    body {
        background-color: $backgroundColor;
        margin-right: calc(100% - 100vw);
        overflow-x: hidden;
    }
}

#chat {
    display: flex;
    flex-direction: column-reverse;
    max-width: $width;
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 0;

    .tx {
        padding: 1em;
        font-size: 1em;
        word-break: break-all;
        margin-bottom: 1em;
        margin-left: calc(1em + 51px);
        border-radius: 1em 1em 0 1em;
        color: #ffffff;
        background-color: $firstColor;
    }

    .rx {
        padding: 1em;
        font-size: 1em;
        word-break: break-all;
        margin-bottom: 1em;
        margin-right: calc(1em + 51px);
        border-radius: 1em 1em 1em 0;
        color: #ffffff;
        background-color: $secondColor;
    }

    .px {
        padding: 1em;
        font-size: 1em;
        word-break: break-all;
        margin-bottom: 1em;
        margin-left: calc(1em + 51px);
        border-radius: 1em 1em 0 1em;
        color: #ffffff;
        background-color: $firstColor;
    }

    .ex {
        padding: 1em;
        font-size: 1em;
        word-break: break-all;
        margin-bottom: 1em;
        margin-left: calc(1em + 51px);
        border-radius: 1em 1em 0 1em;
        color: #ffffff;
        background-color: #ff0000;
    }
}

#scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondColor;
    color: #ffffff;
    font-size: 1em;
    width: 51px;
    height: 51px;
    border-radius: 1em;
    position: fixed;
    right: 16px;
    bottom: 69px;
    cursor: pointer;
    border: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms linear;
}

#notification {
    position: fixed;
    right: 16px;
    bottom: calc(69px + 51px - 4px);
    background-color: #ff0000;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms linear;
}

#panel {
    height: 51px;

    #panel__input {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: calc(100% - 100vw);
        background-color: $secondColor;
    
        &::before {
            content: "";
            display: block;
            height: 1px;
            background-color: $backgroundColor;
        }

        #panel__input__container {
            display: flex;
            align-items: flex-end;
            max-width: $width;
            margin: 0 auto;

            #panel__input__field {
                width: 100%;
                height: 19px;
                border: none;
                padding: 1em;
                font-size: 1em;
                resize: none;
                overflow: hidden;
                border-radius: 0;
                background: none;
                color: #ffffff;
    
                &::placeholder {
                    color: $backgroundColor;
                }
            }

            #panel__input__button {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 51px;
                height: 51px;
                background: none;
                border: none;
                font-size: 1em;
                color: $firstColor;
                cursor: pointer;
            }
        }
    }

    #panel__button {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: calc(100% - 100vw);
        background-color: $firstColor;
        text-align: center;
    
        #panel__button__link {
            display: block;
            padding: 1em;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

#logotype {
    // height: calc(50vh - 102px);
    display: flex;
    justify-content: center;
    align-items: center;

    #logotype__image {
        height: 64px;
        padding: 64px;
    }
}

#form {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 16px;

    #form__login {
        padding: 1em;
        font-size: 1em;
        border-radius: 1em 1em 0 0;
        border: none;
        color: #ffffff;
        background-color: $secondColor;

        &::placeholder {
            color: $backgroundColor;
        }
    }

    #form__password {
        display: flex;

        #form__password__input {
            padding: 1em;
            font-size: 1em;
            border-radius: 0 0 0 1em;
            border-radius: 0;
            border: none;
            color: #ffffff;
            background-color: $secondColor;
            width: 100%;

            &::placeholder {
                color: $backgroundColor;
            }
        }

        #form__password__button {
            height: 51px;
            min-width: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: $secondColor;
            border-radius: 0 0 1em 0;
            border-radius: 0;
            cursor: pointer;
            color: #ffffff;
            font-size: 1em;
        }
    }

    #form__submit {
        padding: 1em;
        font-size: 1em;
        border-radius: 0 0 1em 1em;
        border: none;
        background-color: $firstColor;
        cursor: pointer;
        color: #ffffff;
    }

    #form__invite {
        text-align: center;
        color: #ffffff;
        padding: 16px;

        #form__invite__link {
            color: $firstColor;
            text-decoration: none;
        }
    }

    #form__error {
        text-align: center;
        color: #ff0000;
    }
}