$width: 480px;
$backgroundColor: #17181a;
$firstColor: #0080ff;
$secondColor: #292e33;

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;

    body {
        background-color: $backgroundColor;
        margin-right: calc(100% - 100vw);
        overflow-x: hidden;
    }
}

@import 'chat';
@import 'error';
@import 'form';
@import 'panel';
@import 'scroll';