%message {
    padding: 16px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    word-wrap: break-word;
    background-color: $mc;
    max-width: calc(100% - 99px);
}

#chat {
    display: flex;
    flex-direction: column-reverse;
    max-width: $width;
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 0;

    .tx {
        @extend %message;
        align-self: flex-end;
        border-radius: 16px 16px 0 16px;
    }

    .px {
        @extend .tx
    }

    .rx {
        @extend %message;
        align-self: flex-start;
        border-radius: 16px 16px 16px 0;
        background-color: $sc;
    }

    .ex {
        @extend .tx;
        background-color: #ff0000;
    }
}