#scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $sc;
    color: $bc;
    font-size: 19px;
    width: 51px;
    height: 51px;
    border-radius: 16px;
    position: fixed;
    right: 16px;
    bottom: 67px;
    cursor: pointer;
    border: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms linear;
}

#notification {
    position: fixed;
    right: 16px;
    bottom: calc(67px + 51px - 4px);
    background-color: #ff0000;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    opacity: 0;
    transition: opacity 250ms linear;
}