$width: 640px;
$bc: #17181a;
$mc: #0080ff;
$sc: #292e33;

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;

    body {
        background-color: $bc;
        margin-right: calc(100% - 100vw);
        overflow-x: hidden;
    }
}

@import 'chat';
@import 'error';
@import 'form';
@import 'panel';
@import 'scroll';